.tabs-market{
	background-color: #171a2b;

	&__wrapper{
		display: flex;
		flex-direction: column;

	}

	&__select{
		outline: none;
		background-color: transparent;
		border:0;
	}

	&__menu{
		position: relative;
		z-index: 2;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #25283c;
	}

	&__nav{
		position: relative;
		z-index: 3;
		width: 100%;
		flex-grow: 2;
		padding: 0px 13px;
		display: flex;
		border-bottom: 1px solid #25283c;
	}

	&__slider-nav{
		position: relative;
		width: 100px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		overflow: hidden;
	}

	

	.owl-next{
		font-size: 0;
		background-color: transparent;
			position: relative;
		z-index: 6;
		left: 50px;
		border:0;
		width: 16px;
		height: 32px;
		display: block;	
		outline: none;	
		cursor: pointer;
		
		background-image: url(../images/SVG/slid-arrow-act.svg);

		&.disabled{
			transform: rotate(180deg);
			background-image: url(../images/SVG/slid-arrow.svg);
		}

		&:nth-of-type(2){
			width: 0px;
		height: 0px;


		}

	}

	.owl-prev{
		font-size: 0;
		background-color: transparent;
		position: absolute;
		left: 20px;
		border:0;
		width: 16px;
		height: 32px;
		display: block;
		transform: rotate(180deg);
		background-image: url(../images/SVG/slid-arrow-act.svg);
		outline: none;
		cursor: pointer;

		&.disabled{
			transform: rotate(0deg);
			background-image: url(../images/SVG/slid-arrow.svg);
		}

	}



	&__nav-item{
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: 50%;

		&:nth-of-type(1){
			margin-right: 10px;
		}


		& .active{
			border-radius: 6px;
		  box-shadow: 0 5px 0 0 #0c0e1c;
		  border: solid 1px rgba(238, 232, 232, 0.07);
		  background-color: #25283c;
		  color: #fff;
		}

		&--inventory{
			background-image: url(../images/SVG/chest.svg);
			background-repeat: no-repeat;
			background-position: 10px center;

			& .active{
				background-image: url(../images/SVG/chest-act.svg);
				background-repeat: no-repeat;
			background-position: 10px center;
			}
		}

		&--market{
			background-image: url(../images/SVG/add-to-cart-op.svg);
			background-repeat: no-repeat;
			background-position: 20px center;

			& .active{
				background-image: url(../images/SVG/add-to-cart.svg);
				background-repeat: no-repeat;
			background-position: 20px center;
			}


		}

		&:last-child{
			border-right: 0;
		}

		&:last-child{
			border-right: 0;
		}

		& a{
			width: 100%;
			height: 60px;
			padding: 11px 14px;
			padding-left: 30px;
			text-shadow: 0 1px 0 #0c0e1c;
		  font-size: 20px;
		  color: #93949d;
		  display: flex;
		  align-items: center;
		  justify-content: center;
		}

		
		
	}

	
}

@media (min-width:@tablet)  {
	&__select{
		width: 100%;
	}

	.tabs-market{
		margin: 0px 20px;
		margin-bottom: 20px;
		border-radius: 4px;


		&__wrapper{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			border-bottom: 1px solid #25283c;
		}

		&__nav{
			flex-grow: 0;
			width: auto;
			border-bottom: 0;
		}

		&__menu{
			border-bottom: 0;
		}

		&__slider-nav{
			border-bottom: 0;
		}

		&__nav-item {
			width: 160px;
			border-radius: 6px;
		  box-shadow: 0 5px 0 0 #0c0e1c;
		  border: solid 1px rgba(238, 232, 232, 0.07);
		  background-color: #25283c;


			&:nth-of-type(1){
					width: 140px;
					margin-right: 10px;
				}

			& a{
				justify-content: flex-end;
			}
		}

	}
}

@media (min-width:@desktop)  {
	.tabs-market{
		margin: 0px;
		margin-bottom: 20px;

		&__nav-item {
			width: 150px;

			&:nth-of-type(1){
					width: 130px;
				}

			& a{
				justify-content: flex-end;
				padding-right: 10px;


			}
		}

		&__nav{
			padding: 0;
		}
	}

}